.boundingbox {
  background-color: #F00;
  height: 300px;
  width: 200px;
}

.navbar-default {
  background-color: #0099ee;
}
.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.dropdown-toggle::after {
  /* magic caret */
  content: " ";
  display: none;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown-header {
  color: #0099FF;
}
.nav-txt > a {
  text-align: center;
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
}

.nav-img > img {
  width: 20%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.tworows {
  width: 420px;
  left: -66%;
}

.threerows {
  width: 660px;
  left: -66%;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: -66%;
  z-index: 1000;
  display: none;
  padding: 20px;
  border: 3px;
  border-color: #0099FF;
  border-style: solid;
  border-radius: 25px;
}

.navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu-large {
  position: relative !important;
}

.megamenu{
  padding: 20px 0px;
  /*width:100%;*/
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
  overflow: hidden;
  white-space: nowrap;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
}

.megamenu.dropdown-header {
  color: #0099ee;
  font-size: 18px;
}

@media (max-width: 768px) {
  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
    color:#fff;
  }

  .dropdown-menu {
    position: absolute;
    top: 110%;
    z-index: 1000;
    display: none;
    max-width: 500px;
    max-height: 800px;
    padding: 20px;
    border: 3px;
    border-color: #0099FF;
    border-style: solid;
    border-radius: 25px;
  }
}
