.boundingbox {
  background-color: #F00;
  height: 300px;
  width: 200px;
}

.navbar-default {
  
  background-color: #fff;
  transition: height 0.4s ease-in-out, background-color 0.4s ease-in-out;;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.navbar {
  height: 72px;
}


.shrink {
  height: 42px;
  transition: height 0.4s ease-in-out, background-color 0.4s ease-in-out;
  overflow: hidden;
}


.shrink .navbar-brand > img {
  /*margin: 0px 0px -32px 0px;*/
  height: 40px;
  width: auto;
  transition: height 0.4s ease-in-out, width 0.4s ease-in-out;
}


.navbar-brand > img {
  width: 75%;
  height: auto;
  transition: height 0.4s ease-in-out;
  margin: -10px 0px;
}

.navbar-default .navbar-brand {
  color: #444;
}

.navbar-default .navbar-nav > li > a {
  color: #444;
}


.navbar-nav > li > a {
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:focus{
    color: #0099ee;
}
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #0099ee;
}


.dropdown-toggle::after {
  /* magic caret */
  content: " ";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown-header {
  color: #0099FF;
}
.nav-txt > a {
  text-align: center;
  display: block;
  padding-top: 10px;
  padding-bottom: 15px;
}

.nav-img > img {
  width: 20%;
  height: auto;
  margin: auto;
  margin-top: 10px;
  display: block;
}

.tworows {
  width: 420px;
  left: -300% !important;
}

.threerows {
  width: 660px;
  left: -340% !important;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: -66%;
  z-index: 1000;
  display: none;
  padding: 20px;
  border: 3px;
  border-color: #0099FF;
  border-style: solid;
  border-radius: 25px;
}

.navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.menu-large {
  position: relative !important;
  margin-top: 20px;
  padding-right: 6px;
  transition: margin-top 0.4s ease-in-out;
}

.shrink .menu-large {
  margin-top: 5px;
  transition: margin-top 0.4s ease-in-out;
}

.megamenu{
  padding: 20px 0px;
}
.megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.megamenu> li > ul > li {
  list-style: none;
}
.megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
  overflow: hidden;
  white-space: nowrap;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #0099ee;
  /*background-color: #f5f5f5;*/
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
}

.megamenu.dropdown-header {
  color: #0099ee;
  font-size: 18px;
}
@media (max-width: 1180px) {
   .navbar-nav > li > a {
    font-size: 13px;
  }

  .nav > li > a {
    padding: 15px 5px;
  }
  /*
  .navbar-header {
    width: 220px;
  }
  */
}
@media (max-width: 768px) {


  .megamenu{
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;

  }
  .navbar-nav .open .dropdown-menu .dropdown-header{
    color:#fff;
  }

  .dropdown-menu {
    position: absolute;
    top: 110%;
    z-index: 1000;
    display: none;
    max-width: 500px;
    max-height: 800px;
    padding: 20px;
    border: 3px;
    border-color: #0099FF;
    border-style: solid;
    border-radius: 25px;
  }
}


